################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SetAttributesInZip/v16/.suo
/obj
/bin
